= form_for @channel do |f|
  - if @channel.errors.any?
    #error_explanation
      %h2= "#{pluralize(@channel.errors.count, "error")} prohibited this channel from being saved:"
      %ul
        - @channel.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :method
    = f.select :method, Channel.methods.keys
  = f.fields_for :settings, OpenStruct.new(@channel.settings) do |s|
    .field
      = s.label :verboice_user
      = s.text_field :verboice_user
    .field
      = s.label :verboice_password
      = s.text_field :verboice_password
    .field
      = s.label :verboice_url
      = s.text_field :verboice_url
    .field
      = s.label :verboice_channel_name
      = s.text_field :verboice_channel_name
    .field
      = s.label :verboice_project_id
      = s.text_field :verboice_project_id
  .actions
    = f.submit 'Save'
