%p#notice= notice

%p
  %b Name:
  = @channel.name
%p
  %b User:
  = @channel.user.nil? ? "No user" : channel.user.email

= link_to 'Edit', edit_channel_path(@channel)
\|
= link_to 'Back', channels_path
