%h1 Listing quizzes

%table
  %thead
    %tr
      %th Name
      %th Description
      %th User
      %th Survey
      %th Questions
      %th
      %th
      %th

  %tbody
    - @quizzes.each do |quiz|
      %tr
        %td= quiz.name
        %td= quiz.description
        %td= quiz.user.nil? ? "No user" : quiz.user.email
        %td= quiz.survey.nil? ? "No survey yet" : quiz.survey.name
        %td= quiz.questions.any? ? quiz.questions.map(&:name).join(' | ') : "No questions yet"
        %td= link_to 'Show', quiz
        %td= link_to 'Edit', edit_quiz_path(quiz)
        %td= link_to 'Destroy', quiz, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Quiz', new_quiz_path
