%p#notice= notice

%p
  %b Name:
  = @quiz.name
%p
  %b Description:
  = @quiz.description
%p
  %b User:
  = @quiz.user.nil? ? "No user" : quiz.user.email
%p
  %b Survey:
  = @quiz.survey
%p
  %b Questions:
  - if @quiz.questions.any?
    - @quiz.questions.each do |question|
      %p
        = "#{question.name} : #{question.text}"
  - else
    %p
      This Quiz has 0 questions

= link_to 'Edit', edit_quiz_path(@quiz)
\|
= link_to 'Back', quizzes_path
